html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#main{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container-upper{
	flex: 1;
}
.container-lower{
	flex: 0.5;
	display: flex;
}
.container-lower textarea{
	padding: 10px;
	flex: 1;
	border: none;
	overflow: auto;
	outline: none;
	font-size: 0.8rem;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #333;
	color: white;   
}