.axis path, .axis line {
    fill: none;
    stroke: #AAA;
}

rect {
    fill: #fff;
}
.ganttGraph{
    width: 100%;
    height: 400px;
}
text {
    font-size: 11px;
}
rect.taskRange {
    fill: url(#gradient);
    stroke: #000;
}
